<!-- Hero Section -->
<section class="bg-gray-900 text-white py-20">
    <div class="container mx-auto text-center">
        <!-- Logo -->
        <img src="./assets/logo.png" alt="Logo" class="w-24 h-24 mx-auto mb-8">

        <h2 class="text-4xl font-bold mb-4">Petit Moulin</h2>
        <p class="text-lg">Artisan des saveurs depuis 1995 ☕🍵 </p>
        <p class="text-lg">✨ Savourez l'excellence à chaque gorgée ✨</p>
    </div>
</section>


<!-- Products Section -->
<section class="py-16">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Café -->
        <div class="bg-white p-8 rounded-lg shadow-md">
            <img src="./assets/CaféGrain.jpg" alt="Café" class="w-full h-40 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-4">Café</h3>
            <p>Découvrez notre sélection de cafés premium, cultivés et torréfiés avec soin.</p>
        </div>
        <!-- Thés -->
        <div class="bg-white p-8 rounded-lg shadow-md">
            <img src="./assets/ThéVrac.jpg" alt="Thés" class="w-full h-40 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-4">Thés</h3>
            <p>Explorez notre gamme de thés raffinés, provenant des meilleures plantations.</p>
        </div>
        <!-- Machines -->
        <div class="bg-white p-8 rounded-lg shadow-md">
            <img src="./assets/Machine.jpeg" alt="Machines" class="w-full h-40 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-4">Machines</h3>
            <p>Découvrez nos machines à café et à thé pour une expérience parfaite à chaque tasse.</p>
        </div>
        <!-- Produits Français -->
        <div class="bg-white p-8 rounded-lg shadow-md">
            <img src="./assets/Origine.jpg" alt="Produits Français" class="w-full h-40 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-4">Produits français</h3>
            <p>Nous sommes fiers de proposer une sélection de produits de qualité entièrement fabriqués en France, pour garantir la meilleure qualité et soutenir les producteurs locaux.</p>
        </div>
        <!-- Livraison -->
        <div class="bg-white p-8 rounded-lg shadow-md">
            <img src="./assets/livraison.jpg" alt="Livraison" class="w-full h-40 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-4">Livraison</h3>
            <p>Profitez de notre service de livraison rapide et fiable pour recevoir vos produits à temps.</p>
        </div>
        <!-- Fidélité -->
        <div class="bg-white p-8 rounded-lg shadow-md">
            <img src="./assets/Fidelite.jpg" alt="Fidélité" class="w-full h-40 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-4">Fidélité</h3>
            <p>Rejoignez notre programme de fidélité et bénéficiez de récompenses exclusives à chaque achat.</p>
        </div>
    </div>
</section>