<div class="flex items-center justify-between bg-gray-100 text-gray-800 p-4 border-b border-gray-800">
    <a routerLink="/accueil"><img src="./assets/logo.png" alt="Logo" class="h-12 w-auto mr-4"></a>
    <nav class="flex space-x-4">
        <a routerLink="/accueil" class="text-gray-800 font-semibold hover:text-gray-600 transition duration-300 ease-in-out">Accueil</a>
        <a routerLink="/liste" class="text-gray-800 font-semibold hover:text-gray-600 transition duration-300 ease-in-out">Objet</a>
    </nav>
    <div class="flex items-center">
        <a routerLink="/panier" class="text-gray-800 font-semibold hover:text-gray-600 transition duration-300 ease-in-out ml-4">Panier</a>
        <a routerLink="/form" class="text-gray-800 font-semibold hover:text-gray-600 transition duration-300 ease-in-out ml-4">Formulaire</a>
        <a routerLink="/paiement" class="text-gray-800 font-semibold hover:text-gray-600 transition duration-300 ease-in-out ml-4">Carte</a>
    </div>
</div>
